<%= form_for @contact do |f|%>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= @contact.name %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <%= f.submit "Save", :class=>"btn btn-sm btn-outline-success"%>
            <%= link_to "Delete", contact_url(@contact), method: :delete, :class=>"btn btn-sm btn-outline-secondary"%>
        </div>
        
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="plus"></span>
        Add New
        </button>
    </div>
</div>
<div class="w-50">
    <table class="table table-borderless table-sm">
        <thead><thead>

        <tbody>
            <tr>
                <th scope="row">Phone</th>
                <td>
                    <%= f.text_field :phone, :class=>"form-control form-control-sm", :placeholder=>"john@example.com" %>
                </td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>
                    <%= f.text_field :email, :class=>"form-control form-control-sm", :placeholder=>"john@example.com" %>
                </td>
            </tr>
            <tr>
                <th scope="row">Label</th>
                <td>
                    <%= f.text_field :label, :class=>"form-control form-control-sm", :placeholder=>"lead" %>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<% end %>