<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= @contact.name %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <%= link_to "Edit", edit_contact_url(@contact), :class=>"btn btn-sm btn-outline-secondary"%>
            <%= link_to "Delete", contact_url(@contact), method: :delete, :class=>"btn btn-sm btn-outline-secondary"%>
        </div>
        
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="plus"></span>
        Add New
        </button>
    </div>
</div>
<div class="row pt-3">
    <div class="col-md-8">
        <div class="container">

            <!-- Tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Activity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Emails</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Calls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tasks</a>
                </li>
            </ul>


        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-body">
            <h4><%= @contact.name%></h4>
            <table class="table table-borderless table-sm mt-2">
                <thead>
                <thead>
                <tbody>
                    <tr>
                        <th scope="row">Phone</th>
                        <td><%=@contact.phone%></td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td><%=@contact.email%></td>
                    </tr>
                    <tr>
                        <th scope="row">Label</th>
                        <td><%=@contact.label%></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>